{% extends 'layout.html' %}

{% block body %}

    <main>
        <div class="personal-info">
            <h1>
                <u>Absenzen:</u>
            </h1>
            {% if absenzen %}
                {% for subject, absenzen in absenzen.items  %}
                    <button class="collapsible" type="button">{{ subject }}</button>
                    <div class="content">
                        {% if absenzen %}
                            <ul>
                                {% for absenzen_list in absenzen %}
                                    <div class="content-text">
                                        <li>Entschuldigt: {{ absenzen_list.0 }}</li>
                                        {% if absenzen_list.0 == 'Nein' %}
                                            {% if absenzen_list.1 < current_date %}
                                                <p><strong>Abgabedatum schon abgelaufen</strong></p>
                                            {% else %}
                                                <p>--> Abgabadatum: {{ absenzen_list.1 }}</p>
                                            {% endif %}
                                        {% else %}
                                            <p>Abgegeben</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="content-text">
                                <p>Du hast noch keine Absenzen in diesem Fach!</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% else %}
                <p>Noch keine Fächer eingetragen!</p>
            {% endif %}
            <script>
                const coll = document.getElementsByClassName("collapsible");
                let i

                for (i = 0; i < coll.length; i++) {
                    coll[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        console.log(this.classList);
                        const content = this.nextElementSibling;
                        if (content.style.maxHeight) {
                            content.style.maxHeight = null;
                        } else {
                            content.style.maxHeight = content.scrollHeight + "px";
                        }
                    });
                }
            </script>
        </div>
    </main>
{% endblock %}










