{% extends 'layout.html' %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
           <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
               <i class="bi bi-exclamation-triangle-fill"></i> {{ message }}
               <button type="button" class="close" aria-label="Close" data-bs-dismiss="alert">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
        {% endfor %}
    {% endif %}
    <div style="margin-left:20px; margin-top:15px">
        <h1>Welcome back!</h1>
        <form method="POST" action=".">
            {% csrf_token %}
            <button type="submit" name="logout" value="logout">Logout</button>
        </form>
    </div>
{% endblock %}
