{% extends 'layout.html' %}

{% block body %}
    <main>
        <div class="personal-info">
            <h2>
                <u>Persönliche Informationen:</u>
            </h2>
            <h5>
                <strong><u>Name:</u></strong> {{ user.first_name }} {{ user.last_name }}
                <br>
                <strong><u>E-Mail:</u></strong> {{ user.email }}
                <br>
                <strong><u>Username:</u></strong> {{ user.username }}
            </h5>
        </div>
    </main>
{% endblock %}
