{% extends 'layout.html' %}
{% load main_extra %}

{% block body %}
    <main>
        <div class="personal-info">
            <h1>
                <u>Persönliche Informationen:</u>
            </h1>
            <p>
                {% if not user.is_teacher and subjects|length > 2 and recent_grades %}
                    <div class="chartBox items-align-right">
                        <canvas id="myChart"></canvas>
                    </div>
                {% endif %}
                {% if user.first_name|length > 0 and user.last_name|length > 0 %}
                    Name: {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    Name: <strong>Kein Name angegeben, bitte wenden Sie sich an ihren Administrator!</strong>
                {% endif %}
                <br>
                {% if user.klasse %}
                    Klasse: {{ user.klasse }}
                    <br>
                {% endif %}
                {% if user.email|length > 0 %}
                    E-Mail: {{ user.email }}
                {% else %}
                    E-Mail: <strong>Keine E-Mail angegeben, bitte wenden Sie sich an ihren Administrator!</strong>
                {% endif %}
                <br>
                Adresse: {{ user.return_address }}
                <br>
                {% if user.get_age > 10 %}
                    Alter: {{ user.get_age }} Jahre
                {% else %}
                    Alter: <strong>Kein Alter angegeben, bitte wenden Sie sich an ihren Administrator!</strong>
                {% endif %}
                {% if user.is_teacher %}
                    {% if user|get_subjects_of_teacher != None %}
                        <br>
                        Deine Fächer: {{ user|get_subjects_of_teacher }}
                    {% endif %}
                {% endif %}
            </p>
            {% if not user.is_teacher %}
                <h1>
                    <u>Neueste Noten:</u>
                </h1>
                {% if recent_grades %}
                    {% for grade in recent_grades %}
                        <button class="{{ recent_grades|get_class_button:grade }}" type="button"
                                onclick="collapse_show_button(this)">
                            <strong>{{ grade.Note }}</strong> ({{ grade.Fach }})
                        </button>
                        <div class="content">
                            <div class="content-text">
                                <p>
                                    {% if grade.Thema != None %}Thema: {{ grade.Thema }}<br>{% endif %}
                                    Datum: {{ grade.Datum }}
                                    <br>
                                    Gewichtung: {{ grade.Gewichtung }}
                                    {% if student.klasse|get_avg_class:grade.Thema %}
                                        <br>
                                        Klassenschnitt: {{ student.klasse|get_avg_class:grade.Thema }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Du hast noch keine Noten!</p>
                {% endif %}
            {% endif %}
        </div>
        {% if subjects|length > 2 %}
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                    type: 'radar',
                    data: {
                        labels: {{ subjects|safe }},
                        datasets: [{
                            label: '2022 Noten',
                            data: {{ grades_avg }},
                            borderWidth: 1
                        },
                       {% if grades_avg_old %}
                            {
                            label: '2021 Noten',
                            data: [],
                            borderWidth: 0.5
                        }
                        {% endif %}
                        ]
                    },
                    options: {
                        scale: {
                            min: 1,
                            max: 6,
                            ticks: {
                                stepSize: 0.5,
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            r: {
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                                grid: {
                                    color: 'gray'
                                },
                                angleLines: {
                                    color: 'gray'
                                },
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 20
                                    }
                                }
                            }
                        {% if grades_avg_old %}
                            title: {
                                display: true,
                                text: 'Noten im Vergleich'
                            }
                        {% endif %}
                        }
                    }
                });
            </script>
        {% endif %}
    </main>

{% endblock %}
