{% extends 'layout.html' %}
{% load main_extra %}

{% block body %}
    <main>
        <div class="personal-info">
            <h1>
                <u>Klassen:</u>
            </h1>
            {% if student_dict %}
                {% for class, students in student_dict.items %}
                    <button class="collapsible" type="button" onclick="collapse_show_button(this)">
                        <strong>{{ class }}</strong>
                    </button>
                    <div class="content">
                        {% if students %}
                            <ul>
                                {% for student in students %}
                                    <div class="content-text">
                                        <li><a href="{% url 'mainApp:detail' student.ID %}" class="link-styled">{{ student.Name }}</a>{% if student.ID|get_average_all %} <div class="noten-avg">({{ student.ID|get_average_all }})</div>{% endif %}</li>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="content-text">
                                <p>Noch keine Schüler in dieser Klasse!</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% else %}
                <p>Noch keine Klassen erstellt!</p>
            {% endif %}
        </div>
    </main>
{% endblock body %}