{% extends 'layout.html' %}
{% load main_extra %}

{% block body %}
    <main>
        <div class="personal-info">
            <h1>
                <u>Noten:</u>
            </h1>
            {% if grades %}
                {% for subject, grades in grades.items %}
                    <button class="collapsible" type="button">
                        <strong>{{ subject }}</strong> {% if grades_sum_dict|get_item:subject != None %}({{ grades_sum_dict|get_item:subject }}){% endif %}
                    </button>
                    <div class="content">
                        {% if grades %}
                            <ul>
                                {% for grade in grades %}
                                    <div class="content-text">
                                        <li>Note: <strong>{{ grade.Note }}</strong></li>
                                        --> {{ grade.Datum }}
                                    </div>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="content-text">
                                <p>Du hast noch keine Noten in diesem Fach!</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% else %}
                <p>Noch keine Fächer eingetragen!</p>
            {% endif %}
            <script>
                const coll = document.getElementsByClassName("collapsible");
                let i

                for (i = 0; i < coll.length; i++) {
                    coll[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        const content = this.nextElementSibling;
                        if (content.style.maxHeight) {
                            content.style.maxHeight = null;
                        } else {
                            content.style.maxHeight = content.scrollHeight + "px";
                        }
                    });
                }
            </script>
        </div>
    </main>
{% endblock %}
