{% extends 'layout.html' %}
{% load main_extra %}

{% block body %}
    <main>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i> {{ message }}
                        <button type="button" class="close" aria-label="Close" data-bs-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif message.tags == 'success' %}
                    <div class="alert alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle-fill"></i> {{ message }}
                        <button type="button" class="close" aria-label="Close" data-bs-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="personal-info">
            <h1>
                <u>Deine Klasse:</u>
            </h1>
            <form method="POST" action="/panel">
                {% csrf_token %}
                <button type="submit" name="new-grade" value="new-grade" class="button-align-right second-button">Neue Note eintragen</button>
                <button type="submit" name="new-theme" value="new-theme" class="button-align-right second-button">Neues Thema eintragen</button>
                <button type="submit" name="new-absenz" value="new-absenz" class="button-align-right second-button">Neue Absenz eintragen</button>
            </form>
            <button class="collapsible bottom-collapsible top-collapsible" type="button" onclick="collapse_show_button(this)">
                Klasse: {{ klasse.Klasse }}<div class="items-align-right round-border">{{ klasse.Students|get_number_students }} Schüler</div>
            </button>
            <div class="content">
                {% if klasse.Students %}
                    <ul>
                        {% for student in klasse.Students %}
                            <div class="content-text">
                                <li><a href="{% url 'mainApp:detail' student.ID %}" class="link-styled">{{ student.Name }}</a>{% if student.ID|get_average_all %} <div class="noten-avg">({{ student.ID|get_average_all }})</div>{% endif %}</li>
                            </div>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="content-text">
                        <p>Noch keine Schüler in dieser Klasse!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock body %}