{% extends 'layout.html' %}
{% load main_extra %}

{% block body %}
    <main>
        <div class="personal-info">
            <h1>
                <u>Schüler Informationen:</u>
            </h1>
            <p>
                {% if student.first_name|length > 0 and student.last_name|length > 0 %}
                    Name: {{ student.first_name }} {{ student.last_name }}
                {% else %}
                    Name: <strong>Kein Name angegeben, bitte wenden Sie sich an ihren Administrator!</strong>
                {% endif %}
                <br>
                {% if student.klasse %}
                    Klasse: {{ student.klasse }}
                    <br>
                {% endif %}
                {% if student.email|length > 0 %}
                    E-Mail: {{ student.email }}
                {% else %}
                    E-Mail: <strong>Keine E-Mail angegeben, bitte wenden Sie sich an ihren Administrator!</strong>
                {% endif %}
                <br>
                Adresse: {{ student.return_address }}
                <br>
                {% if student.get_age > 10 %}
                    Alter: {{ student.get_age }} Jahre
                {% else %}
                    Alter: <strong>Kein Alter angegeben, bitte wenden Sie sich an ihren Administrator!</strong>
                {% endif %}
            </p>
            <form action="{% url 'mainApp:all_absenzen' student.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="small-button">Alle Absenzen von {{ student.first_name }} {{ student.last_name }}</button>
            </form>
            <br>
            <div style="width:50%">
                {% if recent_grades %}
                <form action="{% url 'mainApp:all_grades' student.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="small-button-align-right small-button">Alle Noten von {{ student.first_name }} {{ student.last_name }}</button>
                </form>
                {% endif %}
                <h1>
                    <u>Neueste Noten:</u>
                </h1>
            </div>
            {% if recent_grades %}
                {% for grade in recent_grades %}
                    <button class="{{ recent_grades|get_class_button:grade }}" type="button" onclick="collapse_show_button(this)">
                        <strong>{{ grade.Note }}</strong> ({{ grade.Fach }})
                    </button>
                    <div class="content">
                        <div class="content-text">
                            <p>
                                {% if grade.Thema != None %}Thema: {{ grade.Thema }}<br>{% endif %}
                                Datum: {{ grade.Datum }}
                                <br>
                                Gewichtung: {{ grade.Gewichtung }}
                                {% if student.klasse|get_avg_class:grade.Thema %}
                                    <br>
                                    Klassenschnitt: {{ student.klasse|get_avg_class:grade.Thema }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Dieser Schüler hat noch keine Noten</p>
            {% endif %}
        </div>
    </main>
{% endblock body %}