<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1,0">
        <title>Gymnasium Manager</title>
        {% load static %}
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body onload="auto_hide_alert()">
        <main>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 9999;">
                    <i class="bi bi-exclamation-triangle-fill"></i> {{ message }}
                    <button type="button" class="close" aria-label="Close" data-bs-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% endif %}
            <form method=POST action="." name="login-form">
                {% csrf_token %}
                <section class="vh-100 gradient-custom">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-75">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="margin-top: -3%;">
                                <div class="text-center" style="margin-top: 30px;">
                                    <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">
                                        <img src="/static/images/logo.png" alt="logo" class="logo-login">
                                    </a>
                                </div>
                                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                    <div class="card-body p-5 text-center">
                                        <div class="mb-md mt-md-2 pb-2">

                                            <h2 class="fw-bold mb-2 text-uppercase"><b>Login</b></h2>
                                            <p class="text-white-50 mb-5">Please enter your username and password!</p>

                                            <div class="form-outline form-white mb-4">
                                                <input autofocus="autofocus" type="text" id="username" name="uname" class="form-control form-control-lg" placeholder="Username" required/>
                                                <label class="form-label" for="username"></label>
                                            </div>

                                            <div class="form-outline form-white mb-5 input-group">
                                                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password" required/>
                                                <label class="form-label" for="password"></label>
                                                <div class="input-group-append">
                                                    <div class="input-group-text"><i id="eye" class="bi bi-eye" onclick="show_password()"></i></div>
                                                </div>
                                            </div>
                                            <button class="btn btn-outline-light btn-lg px-5" type="submit" style="width: 70%">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </main>
    </body>
</html>
