@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    --main-bg-color: #24252A;
    --nav-bg-color: #171718;
    --button-roundness: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: var(--nav-bg-color);
}

main {
    background-color: var(--main-bg-color);
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
}

body {
    height: calc(100vh - 84px); /* 100vh minus height navbar (84px) */
    width: 100%;
    margin: 0;
}

/* Login Form */
.logo-login {
    align-content: center;
    height: 40%;
    width: 40%;
}

/* Navigation Bar */
.logo {
    cursor: pointer;
    height: 64px;
    width: 64px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
    margin-top: 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.nav-button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* Disables ugly Outline by Bootstrap */
button:focus {
    outline:none;
}

/* Index File */
.personal-info {
    padding-top: 2vh;
    padding-bottom: 10px;
    margin-left: 2vw;
    color: #edf0f1;
}

/* Noten File */
.collapsible {
    transition: all 0.1s linear;
    background-color: #565656;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible-no-animation {
    transition: none !important;
}

.collapsible.top-collapsible {
    border-top-left-radius: var(--button-roundness);
    border-top-right-radius: var(--button-roundness);
}

.collapsible.bottom-collapsible {
    border-bottom-left-radius: var(--button-roundness);
    border-bottom-right-radius: var(--button-roundness);
}

.content-bottom-collapsible {
    border-bottom-left-radius: var(--button-roundness);
    border-bottom-right-radius: var(--button-roundness);
}

.active, .collapsible:hover {
    background-color: #646464;
}

.content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #333333;
    width: 50%;
}

.content-no-animation {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: none !important;
    background-color: #333333;
    width: 50%;
}

.content-text {
    font-family: "Montserrat", sans-serif;
    margin-top: 16px;
    margin-left: 16px;
}

.content-text-title {
    font-family: "Montserrat", sans-serif;
    margin-top: 16px;
    margin-left: -10px;
}

.noten-avg {
    display: inline;
}

.round-border {
    background-color: rgba(16, 16, 16, 0.3);
    box-shadow: 0 0 0 6px rgba(16, 16, 16, 0.3);
    border-radius: 20px;
}

.items-align-right {
    float: right;
}

/* Schüler Details */
.link-styled:hover {
    color: #0088a9;
}

.button-align-right {
    float: right;
    margin-right: 10px;
}

.second-button {
    padding: 9px 10px;
    background-color: #565656;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.second-button:hover {
    background-color: #646464;
}

.small-button {
    padding: 9px 25px;
    background-color: #565656;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.small-button-align-right {
    float: right;
}

.asteriskField {
    display: none;
}

.chartBox {
	position:relative;
    padding: 10px;
    margin: auto 40px auto auto;
    height: 70vh;
    width: 40%;
}

.image {
    min-width: 50vw;
    max-width: 50vw;
    max-height: 200vw;
    margin-bottom: 40px;
}

 /* Container needed to position the button. Adjust the width as needed */
.show-image {
    position: relative;
    width: 50%;
    transition: opacity ease-in-out 0.5s;
}

/* Make the image responsive */
.show-image img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.show-image .delete-image {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.show-image .delete-image:hover {
  background-color: #646464
}

.show-image:hover {
    opacity: 80%;
}
