@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    --main-bg-color: #24252A;
    --nav-bg-color: #171718;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: var(--nav-bg-color);
}

main {
    background-color: var(--main-bg-color);
    min-width: 100%;
    min-height: 100%;
}

/* Login Form */
.logo-login {
    align-content: center;
}

/* Navigation Bar */
.logo {
    cursor: pointer;
    height: 64px;
    width: 64px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
    margin-top: 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.nav-button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* Index File */
.personal-info {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 200px;
    color: #edf0f1;
}
